@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald&family=Raleway:wght@100&family=Roboto+Mono:wght@200&display=swap');
*{
    padding:0;
    margin: 0;
}
.header{
    background-color:white;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logopic img{
    width: 100%;
    max-width: 40px;
    height: auto;
    padding-left: 645px;
   
    
}
.sulat{
  
    background-color: black;
  
}
.nic{
    padding-left: 234px;
}
.btn{
    font-family:'Bebas Neue',sans-serif;
    text-align: right;
    font-size: 18px; 
    padding-right:20px ;
    word-spacing: 15px;
  
}
a:hover{
    
    text-decoration: underline;
    
}
a{
    text-decoration: none;
}
.btn a{
    color: black;
}
.myimage img{
    border-radius: 125px;
    width: 300px;
    padding-bottom: 50px;
}
.myimage{
    padding-left:220px ;
    padding-top:130px;
}
.desc{
    float: right;
    padding-top: 240px;
    padding-right:350px;
    font-family:'Bebas Neue',sans-serif;
    font-size: 185%;
    color: white;
}
.skills{
    font-size:25px;
    padding-top:10px;
    padding-left:625px;
    font-family:'Bebas Neue',sans-serif;
    background-color: white;
}
.logo{
    max-width: 1400px;
    margin: auto;
    overflow: auto;
    padding-left: 200px;
    padding-bottom: 60px;

}
.logos{ 
    padding-left: 10px;
    width: 250px;
    float: left;
}
.zzz{
    background-color:white;
}
.logow{
    max-width: 1400px;
    margin: auto;
    overflow: auto;
    padding-left: 465px;
    padding-bottom: 60px;

}
.lalam{ 
    padding-left: 10px;
    width: 250px;
    float: left;
}
.foot{
    position: block;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: rgb(14, 15, 22);
    padding-bottom: 20px;
}

.cont{
    padding-left: 300px;
    padding-top: 30px;
    color: white;
    font-family:'Bebas Neue',sans-serif;


}
.cont span{
    color: red;
}
.cont p{
    padding-top: 20px;
    font-size: medium;


}
.cont h2{
    font-size:25px;

}

.footlogo img{
float: right;
 padding-top: 70px;
 padding-right: 60px;



}
.footlogo{

 padding-right: 300px;
}
.sulat span{
    color: red;
}
.skills span{
    color: red;
}